.Pagination {
  width: 100%;
  background-color: rgba(114, 224, 160, 0.699);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pagination button {
  font-size: 1.2rem;
  background-color: rgba(114, 224, 160, 0.699);
  outline: none;
  color: rgb(160 67 67);
  padding: 1rem;
  margin: 0 1rem;
  border: none;
}

.Pagination button:hover, .Pagination button:focus{
  outline: none;
  border: none;
  background-color: rgba(114, 224, 160, 0.699);
  cursor: pointer;
}

.PaginationLink{
  text-decoration: none;
  color: white;
  cursor: default;
  
}