.container {
    background-color: rgba(240, 240, 240, 0.8);
    display: flex;
    justify-content: center;
    width: 50.5rem;
       height: 49rem;
    background-color: rgba(240, 240, 240, 0.8);
    border-radius: 1rem;
    margin: 8rem;
    margin-top: 30px;
    border: 0.1rem solid rgba(255, 255, 255, 0.4);
    color: rgb(70, 70, 70);
    box-shadow: 0.2rem 0.2rem 1rem rgba(20, 20, 20, 0.8);
}

.p{
  width:86%
}
  

h3{
  margin: 0px;
}

.central{
  width: 70%;
  height: 40%;
  background-color: rgba(240, 240, 240, 0.8);
  margin-top: 10px;
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

}
